<!-- ./views/index.handlebars -->
<div class="d-flex justify-content-between">
  <a href="/todos/new" class="btn btn-primary mb-1">Create</a>
  <div class="dropdown mb-1 d-flex justify-content-end">
    <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">
      Sort
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/?sortTarget=name&sortType=asc">A->Z</a>
      <a class="dropdown-item" href="/?sortTarget=name&sortType=desc">Z->A</a>
      <a class="dropdown-item" href="/?sortTarget=importance&sortType=desc">★★★->★</a>
      <a class="dropdown-item" href="/?sortTarget=importance&sortType=asc">★->★★★</a>
    </div>
  </div>
</div>
<ul class="list-group">
  {{#each todos}}
  <li class="list-group-item">
    <div class="row">

      <div class="mr-auto">
        <input type="checkbox" name="done" {{#if this.done}} checked{{/if}} disabled>
        <h4 style="display:inline; vertical align=middle;">{{{this.name}}}</h4>
        <h4 style="display:inline; vertical align=middle;">{{{this.importance}}}</h4>
      </div>

      <div class="col-auto">
        <a href="/todos/{{{this.id}}}" class="btn btn-secondary">detail</a>
        <a href="/todos/{{{this.id}}}/edit" class="btn btn-success">edit</a>
        <form action="/todos/{{{this.id}}}/delete?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-danger">delete</button>
        </form>
      </div>

    </div>
  </li>
  {{/each}}
</ul>